<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <EnableADPublish>true</EnableADPublish>
    <ADDirectoryAccessLevel>0</ADDirectoryAccessLevel>
    <ADDomain>jfddemoadb2c.onmicrosoft.com</ADDomain>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://jfddemoadb2c.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>jfddemoadb2c.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>jfddemoadb2c</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$jfddemoadb2c</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <ADAppIDUri>https://jfddemoadb2c.onmicrosoft.com/WebApp-jfddemoadb2c.azurewebsites.net</ADAppIDUri>
    <ADDestinationProvisioned>True</ADDestinationProvisioned>
    <ADWebAPIBased>true</ADWebAPIBased>
    <ADClientAPPID>cb6c6ae8-ece1-4b71-9103-82313f95b1e8</ADClientAPPID>
    <ADClientPassword>PjryDQSpANGcn8vHWBwSIRT5UdFytJpTH3FHZ+W1OvM=</ADClientPassword>
    <ADReplyUrl>https://jfddemoadb2c.azurewebsites.net/</ADReplyUrl>
    <ADIssuer />
    <ADTenantId>9adf8773-d4a8-413e-b779-5e6a7f4cb3cd</ADTenantId>
    <ADPostLogoutRedirectUri />
  </PropertyGroup>
</Project>